=mainButton 
    padding-top: 15px
    padding-bottom: 15px
    padding-right: 30px
    font-size: 24px
    padding-left: 30px
    border: solid 1px
    background-color: lightgrey
    text-decoration: none
    color: black
    @media screen and (max-width: 555px)
        width: -webkit-fill-available

=mediumButton
    padding-top: 10px
    padding-bottom: 10px
    padding-right: 30px
    padding-left: 30px
    border: solid 1px black
    text-decoration: none;
    color: black;
    background-color: lightgrey

=flexCenter
    display: flex
    justify-content: center
    align-items: center