@import /_variables

=mainButton 
    background-color: $pink
    border: none
    color: white
    text-decoration: none
    font-family: 'Oswald', sans-serif
    font-size: 46px
    text-align: center
    box-sizing: border-box
    height: 80px
    padding: 0px 50px 0px 50px
    @media screen and (max-width: 600px)
        width: 90vw
        
=flexCenter
    display: flex
    justify-content: center
    align-items: center

=normalizePadding
    padding-left: 0px
    padding-right: 0px
    padding-bottom: 0px
    padding-top: 0px
